In [10]:
5+4

9

In [17]:
a=3 #assign variable to 3
print('five times a is ',5*a,'and 3 is multiplied by a is ',3*a)
a=2 #assign variable to 3
print('five times a is ',5*a,'and 3 is multiplied by a is ',3*a)

five times a is  15 and 3 is multiplied by a is  9
five times a is  10 and 3 is multiplied by a is  6

In [21]:
print('a is of type ',type(a))
b=2.1
print('b is of type ',type(b))
c=float(a)/b
print('c is of type ',type(c),' and its value is ',c)
d=a/b
print('d is of type ',type(d),' and its value is ',d)

a is of type  <class 'int'>
b is of type  <class 'float'>
c is of type  <class 'float'>  and its value is  0.9523809523809523
d is of type  <class 'float'>  and its value is  0.9523809523809523

In [27]:
simple_list = ['Sachin',2,3,4,'python',2.71]
print(simple_list)
print(simple_list[0])
print(simple_list[1])
print(simple_list[2])
print(simple_list[3])
print(simple_list[4])
print(simple_list[5])
print(simple_list[-1])
print(simple_list[-4])
print(len(simple_list))

['Sachin', 2, 3, 4, 'python', 2.71]
Sachin
2
3
4
python
2.71
2.71
3
6

In [28]:
simple_list[3]=52
print(simple_list[3])
simple_list.append('to the back')
print(simple_list)
simple_list.pop(4)
print(simple_list)

52
['Sachin', 2, 3, 52, 'python', 2.71, 'to the back']
['Sachin', 2, 3, 52, 2.71, 'to the back']

In [30]:
repeated_list = [5]*4
print(repeated_list)

[5, 5, 5, 5]

In [31]:
simple_list[1]=[1,2,3]
print(simple_list)
print(simple_list[1])
print(simple_list[1][1])

['Sachin', [1, 2, 3], 3, 52, 2.71, 'to the back']
[1, 2, 3]
2

In [38]:
list2=simple_list
print(list2)
print(simple_list)
list2[1]=0
print(list2)
print(simple_list)

['Sachin', 0, 3, 52, 2.71, 'to the back']
['Sachin', 0, 3, 52, 2.71, 'to the back']
['Sachin', 0, 3, 52, 2.71, 'to the back']
['Sachin', 0, 3, 52, 2.71, 'to the back']

In [34]:
list3=simple_list.copy()
print(list3)
print(simple_list)
list3[0]= 'Mitchell'
print(list3)
print(simple_list)

['Sachin', 0, 3, 52, 2.71, 'to the back']
['Sachin', 0, 3, 52, 2.71, 'to the back']
['Mitchell', 0, 3, 52, 2.71, 'to the back']
['Sachin', 0, 3, 52, 2.71, 'to the back']

In [39]:
simple_tuple = (12,33,45,32,11221)
print(simple_tuple)
print(simple_tuple[1])

(12, 33, 45, 32, 11221)
33

In [40]:
simple_tuple[1]=1

TypeError: 'tuple' object does not support item assignment

In [42]:
dummy_list=list(simple_tuple)
print(dummy_list)
dummy_list[1]=5
print(dummy_list)
simple_tuple =tuple(dummy_list)
print(simple_tuple)

[12, 33, 45, 32, 11221]
[12, 5, 45, 32, 11221]
(12, 5, 45, 32, 11221)

In [45]:
simple_set={11,-2,'water',-2}
print(simple_set)

{11, 'water', -2}

In [46]:
print(simple_set[1])

TypeError: 'set' object is not subscriptable

In [48]:
print('water' in simple_set)
print('waters' in simple_set)

True
False

In [49]:
simple_set.add(72)
simple_set.remove('water')
print(simple_set)

{72, 11, -2}

In [53]:
simple_dict = {"brand":"Apple",
              "product":"iPhone",
              "model":"X"}
print(simple_dict)
print('I bought an',simple_dict['product'],"model ",simple_dict['model'],'from ',simple_dict['brand'])

{'brand': 'Apple', 'product': 'iPhone', 'model': 'X'}
I bought an iPhone model  X from  Apple

In [55]:
simple_dict["model"]="11 Pro"
print('I bought an',simple_dict['product'],"model ",simple_dict['model'],'from ',simple_dict['brand'])

I bought an iPhone model  11 Pro from  Apple

In [57]:
simple_dict['color']="red"
print('I bought an',simple_dict['color'],simple_dict['product'],"model ",simple_dict['model'],'from ',simple_dict['brand'])

I bought an red iPhone model  11 Pro from  Apple

In [60]:
print(simple_list)
print(simple_list[2:5])
print(simple_list[2:3])
print(simple_list[-5:-1])

['Sachin', 0, 3, 52, 2.71, 'to the back']
[3, 52, 2.71]
[3]
[0, 3, 52, 2.71]